<div x-data="Example('Test')" class="p-20 Example">
    <div x-on:click="console.log('test')" x-text="val" class="w-full p-10 mx-auto bg-white shadow-lg rounded-2xl md:w-1/2">
    </div>
</div>
<h1 class="text-4xl">Hello world</h1>