{% extends "base.twig" %}
{% block content %}
<div
    class="mx-auto prose text-center md:prose-2xl lg:prose-2xl xl:prose-2xl 2xl:prose-2xl page-content has-global-padding">
    {{post.content}}
</div>
{% endblock %}
